image: Visual Studio 2017

environment:
  MSVC_DEFAULT_OPTIONS: ON
  APPVEYOR_SAVE_CACHE_ON_ERROR: true
cache: 
- build\curl-install\ -> appveyor.yml
- build\libressl-install\ -> appveyor.yml
- build\zlib-install\ -> appveyor.yml
- build\thirdparty\civetweb-1.10 -> appveyor.yml
- build\thirdparty\cxxopts -> appveyor.yml
- build\thirdparty\rocksdb -> appveyor.yml
- build\thirdparty\ -> appveyor.yml
- build\thirdparty\yaml-cpp-yaml-cpp-20171024 -> appveyor.yml

clone_folder: C:\projects\nifi-minifi-cpp
  
build_script:
   - cd C:\projects\nifi-minifi-cpp
   - win_build_vs.bat build
