pyjks==20.0.0
shortuuid==1.0.13
behavex==4.1.0
docker==7.1.0
PyYAML==6.0.2
m2crypto==0.46.2
watchdog==6.0.0
pyopenssl==25.0.0
azure-storage-blob==12.24.1
humanfriendly==10.0
requests<2.29  # https://github.com/docker/docker-py/issues/3113
