MiNiFi Config Version: 3
Flow Controller:
  name: MiNiFi Flow
Parameter Contexts:
  - id: 721e10b7-8e00-3188-9a27-476cca376978
    name: my-context
    description: my parameter context
    Parameters:
    - name: INPUT_DIR
      description: ''
      sensitive: false
      value: /tmp/input
Processors:
- name: Get files from /tmp/input
  id: 2f2a3b47-f5ba-49f6-82b5-bc1c86b96e27
  class: org.apache.nifi.minifi.processors.GetFile
  scheduling strategy: TIMER_DRIVEN
  scheduling period: 1000 ms
  Properties:
    Input Directory: "#{INPUT_DIR}"
- name: Put files to /tmp/output
  id: e143601d-de4f-44ba-a6ec-d1f97d77ec94
  class: org.apache.nifi.minifi.processors.PutFile
  scheduling strategy: EVENT_DRIVEN
  auto-terminated relationships list:
  - failure
  - success
  Properties:
    Conflict Resolution Strategy: fail
    Create Missing Directories: 'true'
    Directory: /tmp/output
Connections:
- name: GetFile/success/PutFile
  id: 098a56ba-f4bf-4323-a3f3-6f8a5e3586bf
  source id: 2f2a3b47-f5ba-49f6-82b5-bc1c86b96e27
  source relationship names:
  - success
  destination id: e143601d-de4f-44ba-a6ec-d1f97d77ec94
Parameter Context Name: my-context
Controller Services: []
Remote Process Groups: []
